# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Keystores y llaves privadas
*.jks
*.keystore

# Android generado
android/
*.apk

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.vercel
